#main {
  display: flex;
  flex-direction: column;

  padding: 0 20px;
}

.main__calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.main__calculator .calculator__display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  height: 84px;

  text-align: center;
  background-color: #000;

  border-bottom: 1px solid #abc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  font-size: 2rem;
}

.calculator__display .display__value {
  display: flex;

  font-size: 1.4rem;

  padding-right: 12px;
}

.display__calculate-value {
  padding-right: 12px;
  padding-top: 4px;

  font-size: 0.9rem;
}

.main__calculator .calculator__keyboard {
  width: 100%;

  text-align: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__keyboard .keyboard__digit {
  height: 44px;
  width: 100%;

  background-color: #000;

  padding-top: 20px;

  font-weight: 600;

  cursor: pointer;
}

.calculator__keyboard .keyboard__digit:hover {
  opacity: 0.8;
}

.keyboard__digit.ac {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
}

/* * xl */
@media screen and (min-width: 1000px) {
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 100%;
  }
}
/* * lg */
@media screen and (max-width: 999px) {
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
  }
}

/* * sm */
@media screen and (max-width: 569px) {
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
  }
}
